

.qr-container{
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.placeholder{
    width: 700px;
}

.generate-form{
    margin-left: 20px;
}

.qrcode{
    margin-top: 10px;
    width: 700px;
    height: 300px;
}

.debug{
    margin-top: 10px;
    width: 70px;
}
