<!DOCTYPE html>
<html data-theme="dark">
<link rel="stylesheet" href="_assets/pico.min.css"> 
<link rel="stylesheet" href="_assets/app.css">
<script src="/_assets/htmx.min.js"></script>

<head>
    <title>Qr code generator</title>
</head>
<body id="full_body">
<main class="container">

   <h2>Qr code generator</h2>
    <div>

    <div class="qr-container">
        <div id="qr_code_image">
            {% if let Some(qr_code) = qr_code %}
            <img class="qrcode" src="/qrcodes?id={{ qr_code }}" alt="{{ qr_code }}" >
            {% else %}
            No qr code
            {% endif %}
        </div>

        <form
                class='outline generate-form'
                hx-post="/qrcodes"
                hx-target="#qr_code_image"
                hx-swap="inneHTML"
        >

            <label for="qrcode-name">
                IBAN
            </label>
            <input 
                type="text"
                id="qrcode-iban"
                name="iban"
                pattern="^[A-Z]{2}[0-9]{2}[A-Z0-9]{1,30}$"
                value="CH5604835012345678009"
                placeholder="no effect yet"
            >
            <label for="qrcode-name">
                Name
            </label>
            <input 
                type="text"
                id="qrcode-name"
                name="qr_code_name"
                placeholder="no effect yet"
            >
                
            <label for="qrcode-name">
                Amount
            </label>
            <input 
                type="number"
                id="qrcode-amount"
                name="amount"
                placeholder="no effect yet"
            >
                
            <label for="qrcode-name">
                Currency
            </label>
            <input type="text"
                id="qrcode-currency"
                name="currency"
                pattern="[A-Za-z]{3}"
                value="CHF"
                placeholder="no effect yet"
            >

            <button
                   type="submit"
            >
                Generate
            </button>
        </form>

    </div>
    
    
    <article>
        <header>
            <h2>Qr codes</h2>
        </header>
        <body>
            <table id="qr_code_header" class="header-table">
                <tr>
                    <th scope="col">Id</th>
                </tr>
            </table>
            <div class="overflow-auto fixed-container">
                <table id="qr_code_table"
                    hx-ext ="alpine-morph"
                       hx-get="/qr_table"
                       hx-trigger="load delay:1s"
                       hx-swap="morph"
                       class="qr-table"
                >
                </table>
            </div>
        </body>

    </article>
       
    
  

        
    </div>
</main>
<footer class="container"> Rust Basel Workshop 10</footer>
</body>
</html>

